.signup-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 32px;
}

.signup-card {
  width: 400px;
  padding: 32px;
  background-color: #c75c6e;
  border-radius: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
}

.logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* circle logo wrapper */
.logo-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 6px solid #b70824;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  margin: 0 auto;
  overflow: hidden; /* ensures image stays round */
}

.signup-title {
  font-weight: bold;
  margin-bottom: 24px;
}

.signup-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.MuiOutlinedInput-root {
  background-color: #ffc0cb; /* pink inputs */
  border-radius: 8px;
}

.signup-btn {
  margin-top: 16px;
  background-color: white;
  color: #c75c6e;
  font-weight: bold;
  padding: 12px;
}

.signup-btn:hover {
  background-color: #f0f0f0;
}

.signin-text {
  margin-top: 16px;
  font-size: 14px;
}

.signin-link {
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}
